* {
	box-sizing: border-box;
}
body {
	background-color: #F0F8FF;
	font-family: "Arial", "Helvetica" , sans-serif;
}
h1 {
	color: #191970;
	font-size: 50px;
	text-align: center;
	margin: 5px 5px;
	padding: 10px 0;
}
p {
	padding: 2px 5px;
	clear: both;
}

.section {
	background-color: #F8F8FF;
	border: 1px solid #2F4F4F;
	margin: 5px;


#chicken {
	border: 1px solid #2F4F4F;
	background-color: #ADD8E6;
	float: right;
	padding: 5px 10px;
	margin: 0 0 5px;
}
#beef {
	border: 1px solid #2F4F4F;
	background-color: #CD5C5C;
	float: right;
	padding: 5px 10px;
	margin: 0 0 5px;
}
#shushi {
	border: 1px solid #2F4F4F;
	background-color: #FAF0E6;
	float: right;
	padding: 5px 10px;
	margin: 0 0 5px;
}
.container {
	margin: 10px;
	width: 100%;
}

/**** Large(Desktop) ****/
@media (min-width: 992px) {
	.col-lg-4 {
		float: left;
		width: 32%;
	}
}

/**** Medium(Tab) ****/
@media (min-width: 768px) and (max-width: 991px) {
	.col-md-6, .col-md-12 {
		float: left;
	}
	.col-md-6 {
		width: 48%;
	}
	.col-md-12 {
		width: 97%;
	}
}

/**** Small(Mobile) ****/
@media (max-width: 767px) {
	.col-sm-12 {
		float: left;
		width: 95%;
	}
}

